
.container{
    
    height:100vh;
    
    display:flex;
    


}

.left{
    width:50%;
    border:1px solid black;
    text-align:center;
    display:flex;
    justify-content:center;
    align-items:center;
    background-image:url("laptop.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-position :center;


}

.card{
    background-color:rgb(167, 226, 226);
    margin:20px;
    border:1px solid black;
    padding:30px;
}
.left h1{
    font-style:bold;
    font-weight:40px;
    font-size:45px;
    color:purple;
    text-shadow:2px 2px 4px black;
    
}
.right{
    width:50%;
    border:1px solid black;
    display:flex;
    justify-content:center;
    align-items:center;
}
