body{
    background:#edf0f1;
}
.leftsection{
    background-color:green;
    color:white;
    padding:40px;
}

.leftsection h1{
    font-size:40px;
    font-weight:bold;
}


.form-control{
    border:none;
    padding:12px;
}
