.containercard {
  padding: 15px;
}
.welcome-card {
  background: #d0ecf0;
  padding: 17px;
  border-radius: 15px;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
.income-page {
  display: grid;
  grid-template-columns: 350px 1fr;
  gap: 15px;
}

.income-form-card {
  background: white;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}

.income-form-card {
  height: fit-content;
}

.card-header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 24px;
}

.header-icon {
  font-size: 24px;
  color: #22c1c3;
}

.card-header h2 {
  font-size: 28px;
  margin: 0;
}

.form-group {
  margin-bottom: 18px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 600;
}

.form-group label span {
  color: red;
}

.input-wrapper1 {
  position: relative;
  padding: 0px !important;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
  color: #8a8a8a;
  font-size: 14px;
}

.error-message {
  background-color: #ffe5e5;
  color: #d32f2f;
  border: 1px solid #d32f2f;
  padding: 10px 15px;
  border-radius: 6px;
  margin-top: 10px;
  font-size: 14px;
}
.welcome-card-head {
  font-size: 25px !important;
}
.pr {
  padding-right: 10px !important;
}
.success-message {
  background-color: #e8f5e9;
  color: #2e7d32;
  border: 1px solid #2e7d32;
  padding: 10px 15px;
  border-radius: 6px;
  margin-top: 10px;
  font-size: 14px;
}
.input-wrapper1 input {
  width: 100%;
  height: 46px;
  padding-left: 27px;
  padding-right: 18px;
  border: 1px solid #d9d9d9;
  border-radius: 8px;

  font-size: 15px;
  outline: none;
}

.input-wrapper1 input:focus {
  border-color: #22c1c3;
}

.button-group {
  display: flex;
  gap: 12px;
  margin-top: 24px;
}

.save-btn {
  flex: 1;
  height: 44px;

  border: none;
  border-radius: 8px;

  background: #15b8b5;
  color: white;

  font-size: 15px;
  cursor: pointer;
}
.income-records-card {
  background: white;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  min-width: 70px;
}

.income-table {
  width: 100%;
  border-collapse: collapse;
}

.income-table thead {
  background: #eef9fb;
}

.income-table th {
  padding: 16px;
  text-align: left;
  font-size: 14px;
  min-width: 70px;
}

.income-table td {
  padding: 18px 16px;
  border-bottom: 1px solid #eee;
}

.income-table tr:hover {
  background: #f8fcfd;
}
@media (max-width: 768px) {
  .income-page {
    display: grid;
    grid-template-columns: 1fr;
  }
  .income-records-card {
    padding: 15px;
  }
  .income-form-card {
    padding: 15px;
  }
  .containercard {
    padding: 13px;
  }
  .income-table td {
    padding: 5px 5px;
    border-bottom: 1px solid #eee;
    font-size: 14px;
  }
  .income-table th {
    padding: 10px;
  
    font-size: 13px;
   
  }
  .welcome-card-head {
    font-size: 22px !important;
}
.card-header h2 {
    margin: 0;
    font-size: 22px;
}
}
