.welcome-card {
  background: #d0ecf0;
  padding: 17px;
  border-radius: 15px;
}
.profilecontainer {
  padding: 20px;
}
.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 20px;
}

.form-group label {
  font-size: 18px;
  font-weight: 600;
  font-size:15px;
}

.input-wrapper3 {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 14px;
}

.input-wrapper3 input,
.input-wrapper3 select {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
}
.save-btn {
  width: 100%;
  border: none;
  padding: 14px;
  border-radius: 10px;
  background: #54bbca;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
.error-message {
  background-color: #ffe5e5;
  color: #d32f2f;
  border: 1px solid #d32f2f;
  padding: 10px 15px;
  border-radius: 6px;
  margin-top: 10px;
  font-size: 14px;
}
.welcome-card-head{
  font-size:25px;
}
.success-message {
  background-color: #e8f5e9;
  color: #2e7d32;
  border: 1px solid #2e7d32;
  padding: 10px 15px;
  border-radius: 6px;
  margin-top: 10px;
  font-size: 14px;
}
.password-input::-ms-reveal {
  display: none !important;
}