.background{
    padding: 8px;
    /* transform:ease all 0.3sec; */
    &:hover{
background-color: #ac71e4;
cursor: pointer;
color:#fff;
}
}
.enrollbutton{

    border-radius:10px;
    background-color: #7dc1ee;
    height: 33px;
    width: 67px;
}
.enrollbutton2{

    border-radius:10px;
    background-color: #9fecc3;
    height: 33px;
    width: 67px;
}
.resumebutton{

    border-radius:10px;
    background-color: #ebefb9;
    height: 33px;
    width: 67px;
}
.btnoutline{
    background-color:transparent;
    border:1px solid #ac71e4;
    color:#ac71e4;
}
.bgtab.active{
    background-color:transparent !important;
    border-bottom: 3px solid #cf80eb !important;
    color: #b355d8 !important;
    border-radius: 0px !important;
}
.watchDemo-button{
    &:hover{
        color:white;
        background-color: #9b5cff !important;
    }
}
.btnbggreen{
     background-color: rgb(107, 62, 163);
    color:white;
}
.btnbgyellow{
   background-color: rgb(107, 62, 163);
    color:white;
}
.bgskyblue{
    color:#1284e8
}
.smallfont{
    font-size: 13px;
    color:rgb(137, 198, 137);
}
.smallfontblue{
    font-size: 13px;
    color:rgb(55, 110, 172);
}
.bgtab{
    /* border-bottom:3px solid rgb(186, 73, 186); */
    color:#4b4f54;
    border-radius:0px;
}
.bgspace{
    height:140px;
    width:240px;

}
.tocenterpara{
    padding-left:136px;
}
.footerlinks{
   color:rgb(177, 165, 165);
}
body{
      font-family: "Times New Roman", Times, serif;

    font-weight: 700;
}
.fontblue{
    color:rgb(16, 146, 226);
}
.btnyellow{
    background-color: #f5eda9fd;
    color:rgba(66, 29, 8, 0.938);
}
.btnhover{
  &:hover{
        background-color:#a386d2;
        color:white;
    }
    border-radius:20px;
}
.ul{
    list-style-type: none;
}  
.heading{
    color:#a2b6c3;
}
.leaderboardprofile1{
    background-color: #fac775;

}
.bgleaderboard1{
    background-color: #faeeda;
}
.colornum1{
    color:#fac775;
}
.colornum2{
    color:#d3d1c7;
}
.leaderboardprofile2{
    background-color:#d3d1c7;

}
.bgleaderboard2{
    background-color: #f1efe8;
}
.leaderboardprofile3{
    background-color:#f5c4b3;

}
.bgleaderboard3{
    background-color: #faece7
}
.leaderboardprofile3{
    background-color:#f5c4b3;

}
.leaderboardprofile4{
    background-color:#5adae3;

}
.bgleaderboard4{
    background-color: #cbe3ed
}
.btnpurple{
     background-color:rgb(228, 227, 227);
        color:rgb(93, 120, 186); 
}
.btnred{
   background-color:#d9b3b3;
        color:rgb(145, 11, 11); 
}
.bghover1{
    &:hover{
    background-color:rgb(190, 183, 230);
    color:rgb(96, 76, 208);
    }
}
.btngreen{
    background-color:rgb(174, 239, 229);
    color:green;
    &:hover{
        background-color:#a386d2;
        color:white;
    }
    border-radius:20px;
}
.bghover2{
    &:hover{
    background-color:rgb(146, 234, 192);
color:rgb(22, 52, 36);
   
    }
}
.bghoverclose{
    &:hover{
    background-color:rgb(112, 190, 103);
color:rgb(241, 238, 238);
     }
}
.bghover0{
    &:hover{
    background-color:rgb(99, 213, 145);
color:rgb(241, 238, 238);
     }
}
.bghover3{
     &:hover{
    background-color:rgb(244, 242, 146);
color:rgb(215, 59, 59);
     }
}
.color-box1{
    background-color: #9b5cff;
}
.color-box2{
    background-color: #86eccc;
}
.color-box3{
    background-color: #dfe7a4;
}
.bghoverpurple{
    color:rgb(22, 20, 43);
    font-size:17px;
    &:hover{
    color:#9b5cff;
    }
}
.color-box4{
    background-color: #84ddec;
}
.color-box{
    width: 24px;
    border-radius: 4px;
    height: 24px;
}
.navbar{
     position:sticky;
    top:0;
    z-index:999;
   height:60px;
}
.parafontsize{
    font-size:14px;
   color:#686c71;
}
.bgblue{
    background-color:rgb(22, 20, 43);
    /* min-height:470px; */
    
}
.progres{
    background:transparent !important;
    overflow:visible;

}
.card{
     background-color:rgb(22, 20, 43);
}
.progressbar{
    border-radius:50px;
}
.bgprogressbar2{
    background-color:rgb(71, 71, 158);
}
.highlight{
    color:#9b5cff;
}
.bggreen{
    background-color: rgb(46, 114, 46);
}
.heading{
    color:white;
    width:390px;
}
.bgcard{
    background-color:hsl(240, 16%, 29%);
}
.para{
    color:rgb(177, 165, 165);
    font-size:13px;
}
.fontcolor{
       color:#686c71;
     font-size:14px;
}
.bggrey{
    background-color: #e7e7e7;
}
.bgpurple{
    background-color:#9b5cff;
}
*{
    box-sizing: border-box;
}
.borderline{
    border:1px solid rgb(177, 165, 165);
    color:rgb(177, 165, 165);
}
p{margin:0px}
.btnbg{
background-color: rgb(107, 62, 163);
    color:white;
}
.divcontent{
    height:140px;
    width:320px;
}
.contentpara2{
    padding-left:64px;
}
.boxsize{
    width:998px;
    height:67px;
}